# env vars for local development
export S3_ENDPOINT=http://localhost:9000
export BUCKET_NAME=goes-16
export ACCESS_KEY_ID=example
export SECRET_ACCESS_KEY=example
export USE_SSL_FOR_S3=true

# Source a local override file, if it exists
if [ -f .envrc.local ]; then
  source .envrc.local
fi